In [1]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import requests

pd.options.display.max_columns = None

In [2]:
art = pd.read_csv('../data/artists.csv', index_col = 0)
art.head(2)

,name,years,genre,nationality,bio,wikipedia,paintings
id,,,,,,,
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani (Italian pronunciat...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky (Russian: Васи́...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88

In [3]:
url = 'https://es.wikipedia.org/wiki/Revoluci%C3%B3n'
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")
html.status_code

200

In [4]:
fechas_rev = soup.find_all("table")

In [5]:
fechas_revolucion_tab1 = fechas_rev[0]

In [6]:
rev_dic_tab1 = {"revolucion": [], 
               "fecha": []}

In [7]:
for i in fechas_revolucion_tab1.find_all("tr")[3:]:
    columna = [elemento for elemento in i.find_all("td")]
    if len(columna) == 3:
        try:
            rev_dic_tab1["revolucion"].append(columna[0].find("a").get('title'))
            rev_dic_tab1["fecha"].append(columna[1].find('a').get('title'))
                   
        except:
            rev_dic_tab1["revolucion"].append('No info')
            rev_dic_tab1["fecha"].append('No info')

In [8]:
revoluciones = ['Guerra de los Ochenta Años', 'Revolución inglesa', 'Revolución gloriosa', 'Ciclo atlántico', 
                'Guerra de la Independencia de los Estados Unidos', 'No info', 'Revolución francesa', 'No info',
                'Independencia de la América Hispana', 'Revolución de mayo', 'Revolución oriental', 'Revolución de 1820',
                'Trienio Liberal', 'Revolución liberal de Oporto', 'Guerra de independencia de Grecia', 'Revolución de 1830',
                'Monarquía de Julio', 'Revolución belga', 'Revolución de 1848', 'Revolución de Ayutla', 'Revolución de 1868', 
                'Revolución rusa de 1905', 'Revolución mexicana', 'Revolución de Xinhai', 'Revolución de febrero', 
                'Revolución de Noviembre', 'Revolución turca (aún no redactado)', 'Comuna de París', 'Revolución bolchevique', 
                'No info', 'Levantamiento Espartaquista', 'República Soviética Húngara', 'Revolución mongola de 1921', 
                'Revolución de Asturias de 1934', 'Revolución española de 1936', 'Revolución búlgara', 'Revolución china de 1949', 
                'Revolución cultural', 'Telón de Acero', 'Historia de Corea del Norte', 'Crisis de los misiles en Cuba', 
                'Gran Salto Adelante', 'Vietnam del Norte', 'Guerra de Independencia de Argelia', 'Historia de Iraq', 'Revolución cubana',
                'Crisis del Congo', 'Yemen del Sur', 'Historia de Libia', 'Historia de Somalia', 'Salvador Allende', 'Historia de Benín', 
                'Historia de Etiopía', 'Guinea-Bissau', 'Kampuchea Democrática', 'Vietnam del Sur', 'Historia de Laos', 'Didier Ratsiraka',
                'Cabo Verde', 'Historia de Mozambique', 'Historia de Angola', 'Revolución de Saur', 'Revolución sandinista', 
                'Historia de Granada (país)', 'Burkina Faso', 'Italia fascista', 'Tercer Reich', 'Movimiento Nacional', 'Francia de Vichy']

años = ['1568', '1642', '1688', '1776', '1776', 'No info', '1789', 'No info', '1808', '1810', '1811', '1820', '1820',
        '1820', '1821', '1830', '1830', '1830', '1848', '1854', '1868', '1905', '1910', '1911', '1917', '1918', '1919', 
        '1871', '1917', 'No info', '1919', '1919', '1921', '1934', '1936', '1944', '1949', '1966', '1945', '1948', 
        '1962', '1958', '1954', '1954', '1958', '1959', '1960', '1967', '1969', '1969', '1970', '1972', '1974', 
        '1974', '1975', '1975', '1975', '1975', '1975', '1975', '1975', '1978', '1979', '1979', '1983'
       '1922', '1933', '1936', '1940']

In [9]:
diccionario = {}
for i, z in zip(revoluciones, años):
    try:
        diccionario[i] =  int(z)
    except:
        diccionario[i] =  z

In [10]:
diccionario

{'Guerra de los Ochenta Años': 1568,
 'Revolución inglesa': 1642,
 'Revolución gloriosa': 1688,
 'Ciclo atlántico': 1776,
 'Guerra de la Independencia de los Estados Unidos': 1776,
 'No info': 'No info',
 'Revolución francesa': 1789,
 'Independencia de la América Hispana': 1808,
 'Revolución de mayo': 1810,
 'Revolución oriental': 1811,
 'Revolución de 1820': 1820,
 'Trienio Liberal': 1820,
 'Revolución liberal de Oporto': 1820,
 'Guerra de independencia de Grecia': 1821,
 'Revolución de 1830': 1830,
 'Monarquía de Julio': 1830,
 'Revolución belga': 1830,
 'Revolución de 1848': 1848,
 'Revolución de Ayutla': 1854,
 'Revolución de 1868': 1868,
 'Revolución rusa de 1905': 1905,
 'Revolución mexicana': 1910,
 'Revolución de Xinhai': 1911,
 'Revolución de febrero': 1917,
 'Revolución de Noviembre': 1918,
 'Revolución turca (aún no redactado)': 1919,
 'Comuna de París': 1871,
 'Revolución bolchevique': 1917,
 'Levantamiento Espartaquista': 1919,
 'República Soviética Húngara': 1919,
 'Revolución mongola de 1921': 1921,
 'Revolución de Asturias de 1934': 1934,
 'Revolución española de 1936': 1936,
 'Revolución búlgara': 1944,
 'Revolución china de 1949': 1949,
 'Revolución cultural': 1966,
 'Telón de Acero': 1945,
 'Historia de Corea del Norte': 1948,
 'Crisis de los misiles en Cuba': 1962,
 'Gran Salto Adelante': 1958,
 'Vietnam del Norte': 1954,
 'Guerra de Independencia de Argelia': 1954,
 'Historia de Iraq': 1958,
 'Revolución cubana': 1959,
 'Crisis del Congo': 1960,
 'Yemen del Sur': 1967,
 'Historia de Libia': 1969,
 'Historia de Somalia': 1969,
 'Salvador Allende': 1970,
 'Historia de Benín': 1972,
 'Historia de Etiopía': 1974,
 'Guinea-Bissau': 1974,
 'Kampuchea Democrática': 1975,
 'Vietnam del Sur': 1975,
 'Historia de Laos': 1975,
 'Didier Ratsiraka': 1975,
 'Cabo Verde': 1975,
 'Historia de Mozambique': 1975,
 'Historia de Angola': 1975,
 'Revolución de Saur': 1978,
 'Revolución sandinista': 1979,
 'Historia de Granada (país)': 1979,
 'Burkina Faso': 19831922,
 'Italia fascista': 1933,
 'Tercer Reich': 1936,
 'Movimiento Nacional': 1940}

In [ ]:
for key, value in rev_dic_tab4.items():
    print(value)

In [ ]:
rev_dic_tab1

In [ ]:
revoluciones_tab1 = pd.DataFrame(rev_dic_tab1)
revoluciones_tab1.head(2)

In [ ]:
fechas_revolucion_tab2 = fechas_rev[1]

In [ ]:
rev_dic_tab2 = {"revolucion": [], 
               "fecha": []}

In [ ]:
for i in fechas_revolucion_tab2.find_all("tr"):
    columna = [elemento for elemento in i.find_all("td")]
    if len(columna) == 3:
        try:
            rev_dic_tab2["revolucion"].append(columna[0].find("a").get('title'))
            rev_dic_tab2["fecha"].append(columna[1].find('a').get('title'))
                   
        except:
            rev_dic_tab2["revolucion"].append('No info')
            rev_dic_tab2["fecha"].append('No info')

In [ ]:
revoluciones_tab2 = pd.DataFrame(rev_dic_tab2)
revoluciones_tab2.head(2)

In [ ]:
fechas_revolucion_tab3 = fechas_rev[2]

In [ ]:
rev_dic_tab3 = {"revolucion": [], 
               "fecha": []}

In [ ]:
for i in fechas_revolucion_tab3.find_all("tr")[2:]:
    columna = [elemento for elemento in i.find_all("td")]
    if len(columna) == 3:
        try:
            rev_dic_tab3["revolucion"].append(columna[0].find("a").get('title'))
            rev_dic_tab3["fecha"].append(columna[1].find('a').get('title'))
                   
        except:
            rev_dic_tab3["revolucion"].append('No info')
            rev_dic_tab3["fecha"].append('No info')

In [ ]:
revoluciones_tab3 = pd.DataFrame(rev_dic_tab3)
revoluciones_tab3.head(2)

In [ ]:
fechas_revolucion_tab4 = fechas_rev[3]

In [ ]:
rev_dic_tab4 = {"revolucion": [], 
               "fecha": []}

In [ ]:
for i in fechas_revolucion_tab4.find_all("tr"):
    columna = [elemento for elemento in i.find_all("td")]
    if len(columna) == 3:
        try:
            rev_dic_tab4["revolucion"].append(columna[0].find("a").get('title'))
            rev_dic_tab4["fecha"].append(columna[1].find('a').get('title'))
                   
        except:
            rev_dic_tab4["revolucion"].append('No info')
            rev_dic_tab4["fecha"].append('No info')

In [ ]:
revoluciones_tab4 = pd.DataFrame(rev_dic_tab4)
revoluciones_tab4.head(2)

In [ ]:
fechas_revoluciones = pd.concat([revoluciones_tab1, revoluciones_tab2, revoluciones_tab3, revoluciones_tab4], 
                                axis=0, ignore_index = True)
fechas_revoluciones.head(2)

In [ ]:
fechas_revoluciones.to_csv('../data/fechas_revoluciones.csv')