In [2]:
import pandas as pd
import numpy as np
import re

pd.options.display.max_columns = None

In [3]:
art = pd.read_csv('../data/artists.csv', index_col = 0)
art.head(2)

,name,years,genre,nationality,bio,wikipedia,paintings
id,,,,,,,
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani (Italian pronunciat...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky (Russian: Васи́...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88

In [4]:
art.columns

Index(['name', 'years', 'genre', 'nationality', 'bio', 'wikipedia',
       'paintings'],
      dtype='object')

In [5]:
art.shape

(50, 7)

In [6]:
art.dtypes

name           object
years          object
genre          object
nationality    object
bio            object
wikipedia      object
paintings       int64
dtype: object

In [7]:
art.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         50 non-null     object
 1   years        50 non-null     object
 2   genre        50 non-null     object
 3   nationality  50 non-null     object
 4   bio          50 non-null     object
 5   wikipedia    50 non-null     object
 6   paintings    50 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.1+ KB

In [8]:
art.describe()

        paintings
count   50.000000
mean   168.920000
std    157.451105
min     24.000000
25%     81.000000
50%    123.000000
75%    191.750000
max    877.000000

In [9]:
art.isnull().sum()

name           0
years          0
genre          0
nationality    0
bio            0
wikipedia      0
paintings      0
dtype: int64

In [10]:
art.dtypes

name           object
years          object
genre          object
nationality    object
bio            object
wikipedia      object
paintings       int64
dtype: object

In [11]:
art['bio'] = art['bio'].str.replace(r'\(.*?\)', '', regex = True)

In [12]:
art.sort_values(by=['years']).head(2)

,name,years,genre,nationality,bio,wikipedia,paintings
id,,,,,,,
23,Giotto di Bondone,1266 - 1337,Proto Renaissance,Italian,"Giotto di Bondone , known mononymously as Giot...",http://en.wikipedia.org/wiki/Giotto_di_Bondone,119
7,Andrei Rublev,1360 - 1430,Byzantine Art,Russian,Andrei Rublev is considered to be one of the ...,http://en.wikipedia.org/wiki/Andrei_Rublev,99

In [13]:
edad = art['years']

In [14]:
art['year_of_birth'] = art['years'].str.extract(r'^(\d..\d)')

In [15]:
art.head(2)

,name,years,genre,nationality,bio,wikipedia,paintings,year_of_birth
id,,,,,,,,
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani was an Italian Jew...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193,1884
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky was a Russian...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88,1866

In [16]:
art['year_of_death'] = art['years'].str.extract(r'(\d..\d)$')

In [17]:
art.head(2)

,name,years,genre,nationality,bio,wikipedia,paintings,year_of_birth,year_of_death
id,,,,,,,,,
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani was an Italian Jew...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193,1884,1920
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky was a Russian...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88,1866,1944

In [ ]:
art.

In [34]:
for index, row in art.iterrows():
    x = int(art['year_of_birth'][index])
    y = int(art['year_of_death'][index])
    años = range(x, y)

In [54]:
def sacar_revolucion(x, y):
    for key, value in revoluciones.items():
        if value in range(int(x), int(y)):
            return key
        else:
            return "no hay revolucion"

In [56]:
art["revolucion"] = art.apply(lambda datos: sacar_revolucion(datos["year_of_birth"],datos["year_of_death"]), axis = 1)

In [51]:
art.revolucion.unique()

array(['no hay revolucion', 'Guerra de los Ochenta Años'], dtype=object)

In [47]:
revoluciones = {'Guerra de los Ochenta Años': 1568,
 'Revolución inglesa': 1642,
 'Revolución gloriosa': 1688,
 'Ciclo atlántico': 1776,
 'Guerra de la Independencia de los Estados Unidos': 1776,
 'No info': 'No info',
 'Revolución francesa': 1789,
 'Independencia de la América Hispana': 1808,
 'Revolución de mayo': 1810,
 'Revolución oriental': 1811,
 'Revolución de 1820': 1820,
 'Trienio Liberal': 1820,
 'Revolución liberal de Oporto': 1820,
 'Guerra de independencia de Grecia': 1821,
 'Revolución de 1830': 1830,
 'Monarquía de Julio': 1830,
 'Revolución belga': 1830,
 'Revolución de 1848': 1848,
 'Revolución de Ayutla': 1854,
 'Revolución de 1868': 1868,
 'Revolución rusa de 1905': 1905,
 'Revolución mexicana': 1910,
 'Revolución de Xinhai': 1911,
 'Revolución de febrero': 1917,
 'Revolución de Noviembre': 1918,
 'Revolución turca (aún no redactado)': 1919,
 'Comuna de París': 1871,
 'Revolución bolchevique': 1917,
 'Levantamiento Espartaquista': 1919,
 'República Soviética Húngara': 1919,
 'Revolución mongola de 1921': 1921,
 'Revolución de Asturias de 1934': 1934,
 'Revolución española de 1936': 1936,
 'Revolución búlgara': 1944,
 'Revolución china de 1949': 1949,
 'Revolución cultural': 1966,
 'Telón de Acero': 1945,
 'Historia de Corea del Norte': 1948,
 'Crisis de los misiles en Cuba': 1962,
 'Gran Salto Adelante': 1958,
 'Vietnam del Norte': 1954,
 'Guerra de Independencia de Argelia': 1954,
 'Historia de Iraq': 1958,
 'Revolución cubana': 1959,
 'Crisis del Congo': 1960,
 'Yemen del Sur': 1967,
 'Historia de Libia': 1969,
 'Historia de Somalia': 1969,
 'Salvador Allende': 1970,
 'Historia de Benín': 1972,
 'Historia de Etiopía': 1974,
 'Guinea-Bissau': 1974,
 'Kampuchea Democrática': 1975,
 'Vietnam del Sur': 1975,
 'Historia de Laos': 1975,
 'Didier Ratsiraka': 1975,
 'Cabo Verde': 1975,
 'Historia de Mozambique': 1975,
 'Historia de Angola': 1975,
 'Revolución de Saur': 1978,
 'Revolución sandinista': 1979,
 'Historia de Granada (país)': 1979,
 'Burkina Faso': 19831922,
 'Italia fascista': 1933,
 'Tercer Reich': 1936,
 'Movimiento Nacional': 1940}

In [48]:
fechas_rev = pd.read_csv('../data/fechas_revoluciones.csv', index_col = 0)
fechas_rev.head()

                                         revolucion fecha
0                        Guerra de los Ochenta Años  1568
1                                Revolución inglesa  1642
2                               Revolución gloriosa  1688
3                                   Ciclo atlántico  1776
4  Guerra de la Independencia de los Estados Unidos  1776

In [22]:
mergeado_inner2 = art.merge(fechas_rev, left_on = "year of birth", 
                               right_on = "fecha")
mergeado_inner2.head()

,name,years,genre,nationality,bio,wikipedia,paintings,year of birth,revolucion,fecha
0,Camille Pissarro,1830 - 1903,"Impressionism,Post-Impressionism",French,Camille Pissarro was a Danish-French Impressi...,https://en.wikipedia.org/wiki/Camille_Pissarro,91,1830,Revolución de 1830,1830
1,Camille Pissarro,1830 - 1903,"Impressionism,Post-Impressionism",French,Camille Pissarro was a Danish-French Impressi...,https://en.wikipedia.org/wiki/Camille_Pissarro,91,1830,Monarquía de Julio,1830
2,Camille Pissarro,1830 - 1903,"Impressionism,Post-Impressionism",French,Camille Pissarro was a Danish-French Impressi...,https://en.wikipedia.org/wiki/Camille_Pissarro,91,1830,Revolución belga,1830
3,Paul Gauguin,1848 – 1903,"Symbolism,Post-Impressionism",French,Eugène Henri Paul Gauguin was a French post-I...,http://en.wikipedia.org/wiki/Paul_Gauguin,311,1848,Revolución de 1848,1848